.comments {
  font-size: 20px;
  font-weight: 400;
  line-height: 28px;
}

.comments-list {
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.comments-list__item {
  display: flex;
  gap: 20px;
  max-width: 980px;
}

.comment__img {
  --size: 280px;
  width: var(--size);
  height: var(--size);
  border-radius: 50%;
  background-image: radial-gradient(50% 50% at 50% 50%, rgb(196, 196, 196) 0%, rgb(108, 2, 135) 100%);
  margin-bottom: 11px;
}

.comment__img_1 {
  background-image:
    var(--gradient-radial),
    url(./img/1.png);
}

.comment__img_2 {
  background-image:
    var(--gradient-radial),
    url(./img/2.png);
}

.comment__img_3 {
  background-image:
    var(--gradient-radial),
    url(./img/3.png);
}

.comment__autor-name {
  text-align: center;
}

.comment__text {
  padding-top: 52px;
}