.questions__list {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-left: 0;
}

.questions__list-item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--color-white);
  color: #1C1A1A;
  list-style: none;
  font-weight: 700;
  font-size: 24px;
  padding: 30px 70px;
}

.questions__list-item:nth-child(even) {
  background-color: var(--color-backgroundPrimary);
  color: var(--color-textPrimary);
}

.questions__list-btn {
  position: relative;
  width: 45px;
  height: 45px;
  border-radius: 50%;
}

.questions__list-btn::after {
  content: '';
  display: block;
  margin: auto;
  width: 20px;
  height: 1px;
  transform: rotate(90deg);
}

.questions__list-btn::before {
  content: '';
  display: block;
  margin: auto;
  width: 20px;
  height: 1px;
}

.questions__list-btn_purple {
  border: 2px solid var(--color-backgroundPrimary);
}

.questions__list-btn_purple::after,
.questions__list-btn_purple::before {
  background-color: var(--color-backgroundPrimary);
}

.questions__list-btn_purple:hover {
  background-color: var(--color-backgroundPrimary);
}

.questions__list-btn_purple:hover:after,
.questions__list-btn_purple:hover:before {
  background-color: var(--color-white);
}

.questions__list-btn_purple:active:after {
  background-color: transparent;
}

.questions__list-btn_white {
  border: 2px solid var(--color-white);
}

.questions__list-btn_white::after,
.questions__list-btn_white::before {
  background-color: var(--color-white);
}

.questions__list-btn_white:hover {
  background-color: var(--color-white);
}

.questions__list-btn_white:hover:after,
.questions__list-btn_white:hover:before {
  background-color: var(--color-backgroundPrimary);
}

.questions__list-btn_white:active:after {
  background-color: transparent;
}