.footer {
  padding-top: 50px;
  padding-bottom: 10px;
  background: linear-gradient(180deg, #1b1a1b 0%, #370a37 100%);
}

.footer__main {
  margin-bottom: 156px;
}

.footer__bottom {
  font-size: 14px;
  line-height: 114%;
}

.contacts {
  font-weight: 700;
  font-size: 24px;
  line-height: 117%;
}

.contacts__mail,
.contacts__location {
  margin-bottom: 35px;
}

.contacts__location,
.contacts__tel,
.contacts__mail {
  display: flex;
  align-items: center;
  gap: 30px;
}

.contacts__tel {
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 26px;
}



.social__img:hover > path {
  fill: #eadeed;
}
.social__img:active > path {
  fill: #cd06ff;
}

.social__link {
  display: block;
}

.social__link:focus {
  outline: 1px solid #cd06ff;
}

.social__link:active {
  outline: none;
}

.disigner {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}