* {
  box-sizing: border-box;
}

body {
  font-family: Arial, sans-serif;
  background-color: #1B1A1B;
  color: #FFFFFF;
}

.main {
  padding-top: 96px;
}

.section {
  padding: 50px 0;
}


ul, h1, h2, p {
  margin: 0;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

address, cite {
  font-style: normal;
}

.container {
  max-width: 1200px;
  padding: 0 10px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

.h2 {
  padding-bottom: 50px;
  font-weight: 700;
  font-size: 40px;
  line-height: 125%;
  text-transform: uppercase;
  text-align: center;
}

.hero {
  height: 823px;
}

.hero::after {
  content: "";
  display: inline-block;
  background-image: url(../assets/img/man.png);
  background-position: right 0 bottom 0;
  background-repeat: no-repeat;
  background-size: contain;
  width: 100%;
  height: 762px;
  margin-top: -140px;
}

.hero__title {
  font-weight: 900;
  font-size: 150px;
  line-height: 100%;
  letter-spacing: -0.1em;
}

.hero__subtitle {
  padding-left: 100px;
  font-weight: 400;
  font-size: 28px;
  line-height: 179%;
}

.halls__list {
  display: flex;
  flex-direction: column;
  gap: 60px;
  font-weight: 700;
  font-size: 70px;
  line-height: 114%;
  text-transform: uppercase;
}

.halls__list-item {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 710px;
  background-repeat: no-repeat;
  background-size: contain;
  text-align: center;
}

.vibes {
  background-image: url(../assets/img/80s.jpg);
}

.starwars {
  background-image: url(../assets/img/starwars.jpg);
}

.wildwest {
  background-image: url(../assets/img/wildwest.jpg);
}

.neon {
  background-image: url(../assets/img/neonstyle.jpg);
}

.content {
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.content > p {
  padding-bottom: 20px;
}

.blockquote {
  display: flex;
  flex-direction: column;
  gap: 40px;
}


/* Скобки через position: absolute */

.blockquote__text {
  position: relative;
  font-weight: 400;
  font-size: 44px;
  line-height: 114%;
  text-transform: uppercase;
}

.blockquote__text::after,
.blockquote__text::before {
  content: "";
  background-image: url(../assets/img/bracket.svg);
  background-repeat: no-repeat;
  background-size: contain;
  width: 20px;
  height: 20px;
  position: absolute;
}

.blockquote__text::before {
  left: -35px;
}

.blockquote__text::after {
  right: 80px;
  bottom: 25px;
  transform: rotate(180deg);
}

/* Скобки через span */

/* .blockquote__text {
  font-weight: 400;
  font-size: 44px;
  line-height: 114%;
  text-transform: uppercase;
} */

/* .braket {
  display: inline-block;
  width: 32px;
  height: 32px;
  background-image: url(../assets/img/bracket.svg);
  background-repeat: no-repeat;
  background-size: 20px;
} */

/* .braket_right {
  background-position: bottom;
  transform: rotate(180deg);
} */

.blockquote__autor {
  display: flex;
  gap: 30px;
  width: 390px;
  align-self: flex-end;
  font-weight: 400;
  font-size: 20px;
  line-height: 140%;
}

.location,
.tel,
.mail {
  display: flex;
  align-items: center;
  gap: 30px;
}

.location, .mail {
  margin-bottom: 35px;
}

.tel {
  margin-bottom: 10px;
}

.social {
  display: flex;
  align-items: center;
  padding-left: 0;
  gap: 26px;
}